$pink-plane: #FF6FA5;
$purple: #B33D68;
$yellow:#FFF58A;
$light-blue: #45B2CC;
$blue: #469DB3;
$font: 'Roboto', sans-serif;
$grey: #A5A3A1;
$light-grey: #BFBDBB;
$dark-grey: #737270;
$medium-grey: #B3B1AF;
$white: #FFFCFA;
$font-title: 'Quicksand', sans-serif;