@import "../helpers/reset";
@import "../helpers/variables";

body{
    font-family: $font-title;
    background-color: $yellow;
    .load-wrapp {
    
        text-align: center;
        margin: auto;
        padding: 20px 20px 20px;
        border-radius: 5px;
       
     
    }
    
    .load-wrapp p {padding: 0 0 20px;}
    .load-wrapp:last-child {margin-right: 0;}
    
    .square {
      margin: auto;
        background-image: url("./plane2.png") ;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px; 
        display: flex;
        justify-content: center;
    }
    .load-7 .square {animation: loadingG 3s cubic-bezier(.17,.37,.43,.67) infinite;}
    @keyframes loadingG {
        0% {transform: translate(0,0) rotate(0deg);}
        50% {transform: translate(0px,0) rotate(180deg);}
        100% {transform: translate(0,0) rotate(360deg);}
    }
    
   
    .flightResultsTitle{
      position: relative;
    top:400px;
        font-size: 20px;
        text-align: center;
        color:$purple;
        padding: 20px;
        text-transform: uppercase;
        span{
         font-weight: bolder;
        }
    }
    .resultsContainer{
      position: relative;
    top:400px;
      width: 100%;
      display:flex;
      justify-content: center;
      margin: auto;
      .resultList{
        flex-direction: column;
        
                  li{
                      padding: 8px;
                      flex-direction: row;
                      align-items: center;
                      display: flex;
                      justify-content: space-between;
                      .destinationResults{
                          padding: 5px;
                          display: flex;
                          justify-content: space-around;
               
                      }
                      .price{
                        padding: 5px;
                      }
                      .selectBtn{
                        width: 150px;
                        height: 40px;
                        background-color: $white;
                        color:$purple;
                        font-family: $font-title;
                        text-transform: uppercase;
                        font-weight: bold;
                        text-align: center;
                        border-style: none;
                        padding: 5px;
                        &:hover{
                          color:$white;
                          background-color: $purple;
                        }
                      }
                  }
          }
}

}