@import "../helpers/reset";
@import "../helpers/variables";

body { 

    
    .formContainer{ 
        background-image: url(../helpers/backSuccess.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        
        display: block;
        padding-top: 70px; 
        
    .formPayment{
        background-color: $white;
            margin: 30px 30px 0 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 500px;
            h2, p, span{
                font-family: $font-title;
                color:$blue;
                text-transform: uppercase;
            }
            h2{
                font-size: 30px;
                padding: 5px;
            }
            span{
                text-align: left;
                font-size: 10px;
                color:$grey;
                padding-left: 10px;
            }
        
        .searchInputPayment{
            font-size: 15px;
            height: 40px;
            padding: 10px;
            box-sizing: border-box;
            border-color: transparent;
            background-color: transparent;
            border: 1px solid $grey;    
            margin: 10px;
            &:hover{
                border-color: $grey;
                background-color:$light-grey;
                }
                
            }
            .searchButtonPayment{
                
                height: 50px;
                border-style: none;
                background-color: $white;
                color:$purple;
                font-family: $font-title;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                margin: 10px;
                &:hover{
                    color:$white;
                    background-color: $purple;
                }
            }
        }
        
    }
}