@import "../helpers/reset";
@import "../helpers/variables";

body{
    
    .modal{
        font-family: $font-title;
  
        position: fixed;
        top:0;
        left:0;
        width: 100vw;
        height:100vh;
        background-color: rgba($color:#0000,$alpha:0.5);
        display:none;
        &.open{
            display:block;
        };
        .modal-container{
            border: 5px solid $purple;
            text-align:center;
            box-sizing: border-box  ;
            position:fixed;
            top:50%;
            left:50%;
            width: 500px;
            padding:16px 24px;
            height:auto;
            background-color:white;
            transform:translate(-50%,-50%);
            line-height: 50px;
            
            p{
                color: $blue;
                text-transform: uppercase;
            }
            .select{
                display: flex;
                justify-content: space-around;
            }
            .select4{
                text-transform: uppercase;
                font-weight: bold;
            }
            .selectionBtn{
                display: flex;
                justify-content: space-around;
                button{
                width: 150px;
                height: 40px;
                background-color: $white;
                color:$purple;
                font-family: $font-title;
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
                border-style: none;
                padding: 5px;
                    &:hover{
                       color:$white;
                       background-color: $purple;
                        }
                    }
            }
        }
    };
}
