@import "../helpers/reset";
@import "../helpers/variables";


.mainNavbar {
    background-color:$light-grey;
    width: 100%;
    position: fixed;  
    ul {
      list-style-type: none;
      margin: 0;

      display: flex;
      justify-content: space-evenly;
      align-items: center;
      li {
        font-family: $font-title;
        font-size: 17px;
        padding: 14px;
        a {
          color:$white;
          text-decoration: none;
         
          &:hover {
            color:$blue;
          }
          .logo{
              width: 50px;
              height: 50px;
              background-image: url("../helpers/logo48x48.png") ;
             background-repeat: no-repeat;
          }
        }
      }
    }
  }
  .myAccount{
    float: right;
}